In [1]:
import pandas as pd

data = pd.read_csv('data/raw/HateSpeechDataset.csv')
data_balanced = pd.read_csv('data/raw/HateSpeechDatasetBalanced.csv')

In [6]:
data.head()

,Content,Label,Content_int
0,denial of normal the con be asked to comment o...,1,"[146715, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11,..."
1,just by being able to tweet this insufferable ...,1,"[146715, 14, 15, 16, 17, 7, 18, 19, 20, 21, 22..."
2,that is retarded you too cute to be single tha...,1,"[146715, 28, 29, 30, 26, 31, 32, 7, 5, 33, 28,..."
3,thought of a real badass mongol style declarat...,1,"[146715, 35, 1, 24, 36, 37, 38, 39, 40, 1, 41,..."
4,afro american basho,1,"[146715, 46, 47, 48, 146714]"

In [10]:

# Get label balance in the dataset
def get_label_balance(df):
    return df['Label'].value_counts(normalize=True)


print('Label balance in the dataset:')
print("Data set size: ", len(data))
print(get_label_balance(data))

print('Label balance in the balanced dataset:')
print("Data set size: ", len(data_balanced))
print(get_label_balance(data_balanced))

# Get

Label balance in the dataset:
Data set size:  440906
Label
0        0.820116
1        0.179868
Label    0.000016
Name: proportion, dtype: float64
Label balance in the balanced dataset:
Data set size:  726119
Label
1    0.502018
0    0.497982
Name: proportion, dtype: float64

In [9]:
data_balanced['Content'].values[0] in data['Content'].values

True

In [13]:
# Check if the balanced dataset is a subset of the original dataset
def is_subset(df1, df2):
    return all(df1['Content'].isin(df2['Content']))

print('Is the balanced dataset a subset of the original dataset?')
print(is_subset(data_balanced, data))

Is the balanced dataset a subset of the original dataset?
443252

In [14]:
# Check if the balanced dataset contains duplicates
def contains_duplicates(df):
    return df['Content'].duplicated()

print('Does the balanced dataset contain duplicates?')
print(contains_duplicates(data_balanced))

Does the balanced dataset contain duplicates?
True

In [17]:
sum(data_balanced['Content'].duplicated())

26052